/*********************************************
 * CUSTOM STYLES by Bozydar
 *********************************************/
 
 .orginal_img{
    border: 0 !important;
    box-shadow: none !important;
    background: 0 !important
 }

.strokeme_white
{
    -webkit-text-stroke: 2px white !important;
}

.strokeme_black
{
    -webkit-text-stroke: 2px black !important;
}

.css_button
{
    font-size: 65%;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.css_button:hover {
    background-color: #323ba5;
}
